@theme {
  --color-epta: rgb(255, 0, 153);

  --color-uiPrimaryBg: var(--uiPrimaryBg);
  --color-uiSecondaryBg: var(--uiSecondaryBg);

  --color-uiPrimaryText: var(--uiPrimaryText);
  --color-uiSecondaryText: var(--uiSecondaryText);

  --color-uiPrimaryMuted: var(--uiPrimaryMuted);

  --breakpoint-mq1440: 1440px;
}

@layer base {

  :root {
    --uiPrimaryBg: rgb(255, 255, 255);
    --uiSecondaryBg: rgb(0, 0, 0);

    --uiPrimaryText: rgba(0, 0, 0, 0.85);
    --uiSecondaryText: #1890FF;

    --uiPrimaryMuted: rgb(0, 12, 121);

  }
}