@theme {
  --color-epta: rgb(255, 0, 153);

  --color-uiPrimaryBg: var(--uiPrimaryBg);
  --color-uiSecondaryBg: var(--uiSecondaryBg);
  --color-uiPrimaryMuted: var(--uiPrimaryMuted);


  /*text*/
  --color-uiPrimaryText: var(--uiPrimaryText);
  --color-uiSecondaryText: var(--uiSecondaryText);
  --color-uiPrimaryMutedText: var(--uiPrimaryMutedText);
  --color-uiSecondaryMutedText: var(--uiSecondaryMutedText);




  /*buttons*/

  --color-uiButtonBg: var(--uiButtonBg);
  --color-uiButtonFg: var(--uiButtonFg);
  --color-uiButtonText: var(--uiButtonText);
  --color-uiButtonMuted: var(--uiButtonMuted);
  --color-uiButtonOutline: var(--uiButtonOutline);
  --color-uiButtonOverlay: var(--uiButtonOverlay);


  --breakpoint-mq1440: 1440px;
}

@layer base {

  :root {
    --uiPrimaryBg: rgb(255, 255, 255);
    --uiSecondaryBg: rgb(0, 0, 0);
    --uiPrimaryMuted: rgb(0, 12, 121);

    --uiPrimaryText: rgb(255, 255, 255);
    --uiSecondaryText: rgb(24, 144, 255);
    --uiPrimaryMutedText: rgb(255, 0, 0);
    --uiSecondaryMutedText: rgb(255, 0, 0);

    --uiButtonBg: rgb(245, 245, 245);
    --uiButtonFg: rgb(0, 0, 0);
  }
}