@import "tailwindcss";
@import "tw-animate-css";
@import './styles/stone.css';
@import './styles/custom.css';

@variant dark (&:is(.dark *));

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  * {
    text-rendering: optimizeLegibility;
    scrollbar-width: none;
    scrollbar-color: var(--border) transparent;
  }

  html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    scroll-behavior: smooth;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-uiPrimaryBg text-uiPrimaryText no-underline w-full min-h-screen h-full
  }
}