@import 'tailwindcss';
@plugin "tailwindcss-react-aria-components";
@import 'tw-animate-css';

@import './styles/theme.css';
@import './styles/custom.css';

@variant dark (&:is(.dark *));

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }

  * {
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    /*box-sizing: border-box;
    box-shadow: 0 0 0 2px rgb(255, 0, 0);*/
  }

  html {
    font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
    font-variation-settings: normal;
    scroll-behavior: smooth;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  body,
  #root {
    @apply bg-uiPrimaryBg font-roboto h-full min-h-screen w-full text-black/85 no-underline;
  }
}

@layer components {
  .heading-1 {
    @apply text-lg font-semibold text-black/85;
  }

  .title-1 {
    @apply text-xs font-normal text-black/60;
  }

  .test-box {
    box-sizing: border-box;
    box-shadow: 0 0 0 2px rgb(255, 0, 0);
  }

  .custom-scroll {
    @apply overflow-x-auto [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar]:bg-transparent [&::-webkit-scrollbar-thumb]:bg-gray-200 [&::-webkit-scrollbar-track]:bg-transparent;
  }

  .table-scroll {
    @apply [&_.ant-table]:w-full [&_.ant-table-content]:overflow-x-auto [&_.ant-table-content::-webkit-scrollbar]:h-2 [&_.ant-table-content::-webkit-scrollbar-thumb]:bg-gray-200 [&_.ant-table-content::-webkit-scrollbar-track]:bg-transparent [&_.ant-table-tbody]:overflow-y-auto;
  }

  .backdrop {
    backdrop-filter: blur(16px);
    mask-image: linear-gradient(to bottom, black 0% 50%, transparent 50% 100%);
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
