@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";
@import "tw-animate-css";

@import './styles/theme.css';
@import './styles/custom.css';

@variant dark (&:is(.dark *));

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--border, currentColor);
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
  }

  * {
    text-rendering: optimizeLegibility;
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;

    /* box-sizing: border-box;
    box-shadow: 0 0 0 2px rgb(255, 0, 0); */
  }

  html {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
    font-variation-settings: normal;
    scroll-behavior: smooth;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-uiPrimaryBg text-black/85 no-underline w-full min-h-screen h-full;
  }
}

@layer components {
  .heading-1 {
    @apply text-lg font-medium text-black/85;
  }

  .title-1 {
    @apply text-xs font-normal text-black/60;
  }
}